body {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: rgb(250, 238, 247);
    font-size: 16px; 
}

.subtitulo {
    font-size: 1.3rem;
}

img {
    margin: 10px;
    border: 5px solid rgb(75, 70, 70);
}

header {
    background: linear-gradient(to right, #b38393, #e7bcc7);
    color: black;
    text-align: center;
    padding: 10px 0;
    border: 2px solid rgb(75, 70, 70);
}

header h1 {
    font-size: 2.5rem;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
}

.sobremim {
    color: #333;
    font-size: 2rem;
    margin-bottom: 10px;
    margin-left: 15vw;
}

.sobre-mim-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 20px; 
    font-size: 1.5rem;
}

.sobre-mim-container p {
    max-width: 700px;
    text-align: center;
    margin: 0 auto; 
}

.foto-container {
    position: relative;
}

.foto-perfil {
    width: 300px;
    border-radius: 50%;
    margin-top: 0;
}

.linguagens {
    font-size: 1.3rem;
}

.linguagens-container {
    font-size: 1rem;
}

.idioma {
    font-size: 1.1rem;
}

.projetos {
    font-size: 1.3rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 1.2rem;
    color: #555;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    margin-top: 10px;
}

footer p {
    font-size: 1rem;
    margin: 5px 0;
}

footer a {
    color: #b88ca4;
    text-decoration: none;
    font-size: 1.2rem;
}

footer a:hover {
    text-decoration: underline;
}

section h2 {
    margin-top: 0;
}

section {
    margin-top: 10px;
}
